@font-face {
  font-family: "AmazonEmberBold";
  src: url("../Amazon\ Ember\ V2\ Bold.ttf") format("woff2"),
    url("../Amazon\ Ember\ V2\ Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}