body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "AmazonEmber";
}
.grid-container {
  display: grid;
  width: 80%;
  grid-template-columns: 20% 55% 20%;
  gap: 32px;
  padding: 60px 120px;
}
.item-container {
  display: flex;
  flex-direction: column;
}
.item-container img {
  width: 100%;
  height: auto;
}
.item-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.item-buttons button {
  border: 1px solid black;
  padding: 8px;
  padding: 4px 24px;
  border-radius: 12px;
}
.container-middle {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container-middle h2 {
  font-size: 28px;
  margin-bottom: 12px;
}
.item-buy {
  padding: 12px;
  border: 1px #d5d9d9 solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.container-options button {
  width: 100px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 8px;
  padding: 4px;
}
.container-options span {
  font-weight: bold;
}
.item-buy {
  box-shadow: 0 0 20px #d2d2d2;
}
.item-buy button {
  border: 1px solid rgba(54, 54, 54, 0.711);
  background-color: transparent;
  border-radius: 8px;
  padding: 8px;
}
.item-buy span {
  font-weight: bold;
}
.item-buy a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#buy-button {
  background-color: #f0c14b;
  border-color: #a88734;
  color: #111;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  font-family: AmazonEmberBold, sans-serif;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
#buy-button:hover {
  transform: scale(1.1);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
}
.modalContent {
  background-color: white;
  position: relative;
  width: 300px;
  height: 150px;
  margin: 100px auto;
  padding: 48px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.modalContent-span {
  display: flex;
}
#searchButton {
  background-color: #f0c14b;
  border-color: #a88734;
  color: #111;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: AmazonEmberBold, sans-serif;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.modalInput {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
}
.modal-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}
.button-close {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  font-family: AmazonEmberBold, sans-serif;
}
.calc-result {
  height: 50px;
}